--><li>

  <h1><strong>Vacation</strong> <span>and</span> Sick Leave</h1>
  <div id="gp-header-step">
    <span>Step Four</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <div class="gp-form-row">
      <label class="gp-label-large">Weeks of <strong>unused Vacation</strong>:</label>
      <input class="gp-input-large" type="text" id="vacation" />
    </div>
    <div class="gp-form-row">
      <label class="gp-label-large">Weeks of <strong>unused Sick Leave</strong>:</label>
      <input class="gp-input-large" type="text" id="sick" />
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" href="#4">Go forward to <strong>next step</strong>. <i class="ss-icon">next</i></a>
    <a class="gp-button gp-button-negative" href="#2">Go back to <strong>previous step</strong>. <i class="ss-icon">previous</i></a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p>Your Unused Vacation time is the number of weeks of outstanding, unused vacation time you have acrrued.  If you have 4 weeks of unused vacation time, enter "4" into the unused Vacation box.</p>
    <p>Your Unused Sick Leave time is the number of weeks of outstanding, unused sick leave you have accrued.  If you have 5 weeks of unused sick leave, enter a "5" into the unused Sick Leave box.</p>
  </section>
  <!-- #gp-column-right -->

</li><!--