--><li>

  <h1>Weeks <span>of</span> <strong>Vacation</strong> Time</h1>
  <div id="gp-header-step">
    <span>Step Four</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <div class="gp-form-row">
      <label class="gp-label-large">Input weeks of <strong>yearly vacation</strong>:</label>
      <input class="gp-input-large" type="text" id="vacation" />
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" href="#4">Go forward to <strong>next step</strong>. <i class="ss-icon">next</i></a>
    <a class="gp-button gp-button-negative" href="#2">Go back to <strong>previous step</strong>. <i class="ss-icon">previous</i></a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p>Your yearly vacation time is the amount of vacation you earn every year.  For example, if you get 2 weeks of vacation time every year, you should enter "2" into this box.</p>
  </section>
  <!-- #gp-column-right -->

</li><!--