<li>

  <h1>Years <span>of</span> Age</h1>
  <div id="gp-header-step">
    <span>Step Two</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <div class="gp-form-row">
      <label class="gp-label-large">Input your <strong>current age</strong>:</label>
      <input class="gp-input-large" type="text" id="age" />
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" href="#2">Go forward to <strong>next step</strong>. <i class="ss-icon">next</i></a>
    <a class="gp-button gp-button-negative" href="#0">Go back to <strong>previous step</strong>. <i class="ss-icon">previous</i></a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p>Your age helps to determine the type of pension you are eligible for and, in some cases, the amount of your benefit. For the sake of simplicity, this booklet uses whole years of age in the examples. However, if the amount of your pension benefit depends on age, then the calculation will actually be made using years and months of age.</p>
  </section>
  <!-- #gp-column-right -->

</li>