--><li>
  <h1>Summary <span>of</span> Pension</h1>
  <div id="gp-header-step">
    <span>Finished!<strong> Here are your results:</strong></span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <div class="gp-form-row">
      <div class="gp-form-row gp-form-row-small">
        <label class="gp-label">Years of Service:</label>
        <input class="gp-input" type="text" id="years-sync" />
      </div>
      <!-- .gp-form-row .gp-form-row-small -->
      <div class="gp-form-row gp-form-row-small">
        <label class="gp-label">Your Age:</label>
        <input class="gp-input" type="text" id="age-sync" />
      </div>
      <!-- .gp-form-row .gp-form-row-small -->
    </div>
    <!-- .gp-form-row -->
    <div class="gp-form-row" style="margin-top: 10px;">
      <label class="gp-label">Average Monthly Salary:</label>
      <input class="gp-input" type="text" id="salary-sync" />
    </div>
    <!-- .gp-form-row -->
    <div class="gp-form-row" style="margin-top: 10px;">
      <label class="gp-label" style="cursor: default;">Click Any That Apply:</label>
      <div class="gp-checkbox-row">
        <input type="checkbox" id="fire-sync" /><label for="fire-sync">I have a Firefighter or Police Officer pension.</label>
        <input type="checkbox" id="a2005-sync" /><label for="a2005-sync">I have a 2005 Amendment pension.</label>
      </div>
      <!-- .gp-checkbox-row -->
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" href="#">Recalculate. <i class="ss-icon">next</i></a>
    <a class="gp-button gp-button-negative" href="#0">Start Over. <i class="ss-icon">previous</i></a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <table id="gp-results-table-1">
      <colgroup>
        <col />
        <col />
      </colgroup>
      <tbody>
      </tbody>
    </table>
    <table id="gp-results-table-2">
      <colgroup>
        <col />
        <col />
      </colgroup>
      <tbody>
      </tbody>
    </table>
  </section>
  <!-- #gp-column-right -->

</li>