<li>

  <h1>Rules <span>and</span> Regulations</h1>
  <div id="gp-header-step">
    <span>Step Four</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <label class="gp-label-large" style="cursor: default;">Click <strong>any</strong> that apply:</label>
    <div class="gp-checkbox-row">
      <input type="checkbox" id="fire" /><label for="gp-checkbox-1">I have a Firefighter or Police Officer pension.</label>
      <input type="checkbox" id="a1978" /><label for="gp-checkbox-2">I have a 1978 Amendment pension.</label>
      <input type="checkbox" id="a2005" /><label for="gp-checkbox-3">I have a 2005 Amendment pension.</label>
    </div>
    <!-- .gp-checkbox-row -->
    <a class="gp-button gp-button-large" href="#4">Go forward to <strong>next step</strong>.</a>
    <a class="gp-button gp-button-negative" href="#2">Go back to <strong>previous step</strong>.</a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p>The amount of your pension benefit also depends on the type of retirement benefit you are eligible for normal monthly pension benefit, early monthly pension benefit, reduced monthly pension benefit or vested monthly pension benefit</p>
  </section>
  <!-- #gp-column-right -->

</li>