<li>

  <h1>Rules <span>and</span> Regulations</h1>
  <div id="gp-header-step">
    <span>Step Four</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <label class="gp-label-large" style="cursor: default; margin: 0 0 10px 0;">Click <strong>any</strong> that apply:</label>
    <div class="gp-checkbox-row">
      <input type="checkbox" id="fire" /><label for="gp-checkbox-1">I have a Firefighter or Police Officer pension.</label>
      <input type="checkbox" id="a2005" /><label for="gp-checkbox-3">I have a 2005 Amendment pension.</label>
    </div>
    <!-- .gp-checkbox-row -->
    <a class="gp-button gp-button-large" href="#4">Go forward to <strong>next step</strong>.</a>
    <a class="gp-button gp-button-negative" href="#2">Go back to <strong>previous step</strong>.</a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p>Exactly which pension plan you are a member of has a strong impact on the amount you are paid out monthly in retirement. If you are a member of the Firefigher or Police Officer pension, your payout will max out slightly faster than the General Employees pension plans. The 2005 Amendment plan is voluntary to enter. It features a faster rate of accrual but also introduces a ceiling to your payout.</p>
  </section>
  <!-- #gp-column-right -->

</li>