<li>

  <h1>Rules <span>and</span> Regulations</h1>
  <div id="gp-header-step">
    <span>Step Four</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <label class="gp-label" style="cursor: default;">Click any that apply:</label>
    <div class="gp-form-row" style="margin-top: 24px;">
      <div class="gp-checkbox-row">
        <input type="checkbox" id="fire" /><label for="gp-checkbox-1">I have a Firefighter or Police Officer pension.</label>
        <input type="checkbox" id="a2005" /><label for="gp-checkbox-3">I have a 2005 Amendment pension.</label>
      </div>
      <!-- .gp-checkbox-row -->
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" href="#4">Go forward to <strong>next step</strong>.</a>
    <a class="gp-button gp-button-negative" href="#2">Go back to <strong>previous step</strong>.</a>
  </section>
  <!-- #gp-column-left -->

  <section id="gp-column-right">
    <p></p>
  </section>
  <!-- #gp-column-right -->

</li>