<form id="p-form">
  <ul id="p-slider">
    <li>
      Years of Service<br />
      <input type="text" id="years" /><br />
      <br />
      <a href="#1">Next >></a>
    </li>
    <li>
      Your Current Age<br />
      <input type="text" id="age" /><br />
      <br />
      <a href="#0"><< Prev</a> | <a href="#2">Next >></a>
    </li>
    <li>
      Average Monthly Salary<br />
      <input type="text" id="salary" /><br />
      <br />
      <a href="#1"><< Prev</a> | <a href="#3">Next >></a>
    </li>
    <li>
      Extra Information<br />
      <label><input type="checkbox" id="fire" /> I have a Police Officer or Firefighter Pension</label><br />
      <label><input type="checkbox" id="a2005" /> I have a 2005 Amendment Pension</label><br />
      <label><input type="checkbox" id="a1978" /> I have a 1978 Amendment Pension</label><br />
      <br />
      <a href="#2"><< Prev</a> | <a href="#4">Next >></a>
    </li>
    <li>
      <table id="results">
        <tbody>
        </tbody>
      </table>
    </li>
  </ul>
</form>