<form id="p-form">
  <ul id="p-slider">
    <li>
      This is a test.
      <br />
      <a href="#1">Next >></a>
    </li>
    <li>
      This is a test 2.
      <br />
      <a href="#0"><< Prev</a> | <a href="#2">Next >></a>
    </li>
    <li>
      This is a test 3.
      <br />
      <a href="#1"><< Prev</a> | <a href="#3">Next >></a>
    </li>
    <li>
      This is a test 4.
      <br />
      <a href="#2"><< Prev</a> | <a href="#4">Next >></a>
    </li>
  </ul>
</form>