<form id="p-form">
  <ul id="p-slider">
    <li>
      Years of Service<br />
      <input type="text" id="years" /><br />
      <br />
      <a href="#1">Next >></a>
    </li>
    <li>
      Your Current Age<br />
      <input type="text" id="age" /><br />
      <br />
      <a href="#0"><< Prev</a> | <a href="#2">Next >></a>
    </li>
    <li>
      Average Monthly Salary<br />
      <input type="text" id="salary" /><br />
      <br />
      <a href="#1"><< Prev</a> | <a href="#3">Next >></a>
    </li>
    <li>
      Multiplier<br />
      <input type="text" id="multiplier" /><br />
      <br />
      <a href="#2"><< Prev</a> | <a href="#4">Next >></a>
    </li>
    <li>
      Type of Retirement<br />
      <input type="text" id="type" /><br />
      <br />
      <a href="#3"><< Prev</a> | <a href="#5">Next >></a>
    </li>
    <li>
      <table id="results">
        <tbody>
        </tbody>
      </table>
    </li>
  </ul>
</form>