<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation4">The Solution</a></h1>
  <div id="gp-header-step">
    <span>Slide Three</span>
  </div>
  <!-- #gp-header-step -->

  <h2>"Pension Planner"</h2>

  <p class="gp-presentation-paragraph">Pension Planner is a calculator for public servants that determines their monthly pension according to current regulations.</p>

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->