<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation7">The Future</a></h1>
  <div id="gp-header-step">
    <span>Slide Six</span>
  </div>
  <!-- #gp-header-step -->

  <h2>What's Next?</h2>

  <p class="gp-presentation-paragraph">Add the ability to get data from the government’s Oracle Database. This would remove the need to input data - it could simply draw this data from public record.</p>

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->