<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation5">Utility Features</a></h1>
  <div id="gp-header-step">
    <span>Slide Four</span>
  </div>
  <!-- #gp-header-step -->

  <h2>Beneath the Hood</h2>

  <ul class="gp-bulleted-list">
    <li>Free to use. It is run on a free Heroku instance so there is 0 overhead cost.</li>
    <li>Device agnostic. Responsive views for mobile (320px - 767px) and desktop monitor (768px+).</li>
    <li>Calculates results instantly. Changes to results are instantly displayed when form is altered.</li>
  </ul>
  <!-- .gp-bulleted-list -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->