<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation6">Usability Features</a></h1>
  <div id="gp-header-step">
    <span>Slide Five</span>
  </div>
  <!-- #gp-header-step -->

  <h2>Accessibility</h2>

  <ul class="gp-bulleted-list">
    <li>Large font sizes.</li>
    <li>High-contrast typography.</li>
    <li>Use indicated with color.</li>
    <li>For colorblind users, use is additionally indicated with size hierarchy.</li>
    <li>Screen reader accessible for non-sighted users.</li>
  </ul>
  <!-- .gp-bulleted-list -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->