<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation2">Introduction</a></h1>
  <div id="gp-header-step">
    <span>Slide One</span>
  </div>
  <!-- #gp-header-step -->

  <h2>Team Nightsprout</h2>
  <h3>Product Request #11</h3>

  <ul class="gp-bulleted-list">
    <li>
      Mitchell Lane
      <ul>
        <li>Front-End Developer</li>
      </ul>
    </li>
    <li>
      Jason Bishop
      <ul>
        <li>Back-End Developer</li>
      </ul>
    </li>
  </ul>
  <!-- .gp-bulleted-list -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->