<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>

<div id="gp-content-container">

  <div id="gp-content" style="height: 650px;">

  <h1><a href="/presentation3">The Problem</a></h1>
  <div id="gp-header-step">
    <span>Slide Two</span>
  </div>
  <!-- #gp-header-step -->

  <h2>Law is Hard.</h2>
  <ul class="gp-bulleted-list">
    <li>Laws for determining your pension are verbose and complex.</li>
    <li>I’m a public servant and I want information to help plan my retirement.</li>
  </ul>
  <!-- .gp-bulleted-list -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->