

<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
    <li class="gp-step-current">&nbsp;</li>
  </ul>
</nav>


<div id="gp-content-container">

  <div id="gp-content">

    <h1>Summary <span>of</span> Pension</h1>
    <div id="gp-header-step">
      <span>Finished! Here are your results:</span>
    </div>
    <!-- #gp-header-step -->

    <section id="gp-column-left">
      <div class="gp-form-row">
        <div class="gp-form-row gp-form-row-small">
          <label class="gp-label">Years of service:</label>
          <input class="gp-input" type="text" placeholder="27" />
        </div>
        <!-- .gp-form-row .gp-form-row-small -->
        <div class="gp-form-row gp-form-row-small">
          <label class="gp-label">Your Age:</label>
          <input class="gp-input" type="text" placeholder="27" />
        </div>
        <!-- .gp-form-row .gp-form-row-small -->
      </div>
      <!-- .gp-form-row -->
      <div class="gp-form-row">
        <label class="gp-label">Average Monthly Salary:</label>
        <input class="gp-input" type="text" placeholder="27" />
      </div>
      <!-- .gp-form-row -->
      <div class="gp-form-row" style="margin-top: 10px;">
        <label class="gp-label" style="cursor: default;">Click Any That Apply:</label>
        <div class="gp-checkbox-row">
          <input id="gp-checkbox-1" type="checkbox" /><label for="gp-checkbox-1">I’m a firefighter or police officer.</label>
          <input id="gp-checkbox-2" type="checkbox" /><label for="gp-checkbox-2">I was a member of a city pension fund on March 31st, 1978.</label>
          <input id="gp-checkbox-3" type="checkbox" /><label for="gp-checkbox-3">I was a part of the 2005 amendment plan.</label>
        </div>
        <!-- .gp-checkbox-row -->
      </div>
      <!-- .gp-form-row -->
      <a class="gp-button" href="#">Recalculate.</a>
      <a class="gp-button gp-button-negative" href="/test">Start Over.</a>
    </section>
    <!-- #gp-column-left -->

    <section id="gp-column-right">
      <table>
        <colgroup>
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
        </tbody>
      </table>
      <table>
        <colgroup>
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
          <tr>
            <td>2014</td>
            <td>$1,842.96<span>/mo</span></td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- #gp-column-right -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->

