

<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>
</nav>


<div id="gp-content-container">

  <div id="gp-content">

    <h1>Years <span>of</span> Service</h1>
    <div id="gp-header-step">
      <span>Step One</span>
    </div>
    <!-- #gp-header-step -->

    <section id="gp-column-left">
      <label class="gp-label" style="cursor: default;">Click Any That Apply:</label>
      <div class="gp-form-row" style="margin-top: 24px;">
        <div class="gp-checkbox-row">
          <input id="gp-checkbox-1" type="checkbox" /><label for="gp-checkbox-1">I’m a firefighter or police officer.</label>
          <input id="gp-checkbox-2" type="checkbox" /><label for="gp-checkbox-2">I was a member of a city pension fund on March 31st, 1978.</label>
          <input id="gp-checkbox-3" type="checkbox" /><label for="gp-checkbox-3">I was a part of the 2005 amendment plan.</label>
        </div>
        <!-- .gp-checkbox-row -->
      </div>
      <!-- .gp-form-row -->
      <a class="gp-button gp-button-large" href="/test5">Go forward to <strong>next step</strong>.</a>
      <a class="gp-button gp-button-negative" href="/test3">Go back to <strong>previous step</strong>.</a>
    </section>
    <!-- #gp-column-left -->

    <section id="gp-column-right">
      <p>In most cases, a minimum number of years of service are required to be eligible to receive benefits. Also, your years of service are used to help determine the amount of your benefit. You will receive credit for partial as well as whole years of service when your benefit amount is calculated. Your years of service will include credit for any unused sick time (both regular and reserve) you may have when your benefit is calculated.</p>
      <p>In addition, your years of service may include military service under certain circumstances. If you leave your employment with the City or AISD to undertaken military service and you are later re-employed by the City or AISD, you may be entitled to credit for your military service, if you make all the required employee contributions for this period. You should contact the Pension Department for further information about qualified military service.</p>
    </section>
    <!-- #gp-column-right -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->

