

<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>
</nav>


<div id="gp-content-container">

  <div id="gp-content">

    <h1>Years <span>of</span> Service</h1>
    <div id="gp-header-step">
      <span>Step One</span>
    </div>
    <!-- #gp-header-step -->

    <section id="gp-column-left">
      <div class="gp-form-row">
        <label>Years of Service:</label>
        <input class="gp-input-large" type="text" placeholder="27" />
      </div>
      <!-- .gp-form-row -->
      <a class="gp-button gp-button-large" href="#">Go forward to <strong>next step</strong>.</a>
      <a class="gp-button gp-button-negative" href="#">Go back to <strong>previous step</strong>.</a>
    </section>
    <!-- #gp-column-left -->

    <section id="gp-column-right">
      <p> In most cases, a minimum number of years of service are required to be eligible to receive benefits. Also, your years of service are used to help determine the amount of your benefit. You will receive credit for partial as well as whole years of service when your benefit amount is calculated. Your years of service will include credit for any unused sick time (both regular and reserve) you may have when your benefit is calculated.</p>
      <p>In most cases, a minimum number of years of service are required to be eligible to receive benefits. Also, your years of service are used to help determine the amount of your benefit. You will receive credit for partial as well as whole years of service when your benefit amount is calculated. Your years of service will include credit for any unused sick time (both regular and reserve) you may have when your benefit is calculated. </p>
    </section>
    <!-- #gp-column-right -->

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->